:root {
      --highlight-color: #28d1fa;
      --background-color: #041a1e;
}

body {
  background-color: var(--background-color);
  color: var(--highlight-color);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.2em;
}

h1 {
  font-family: helvetica;
  font-size: 2.5rem;
  color: black;
  position: relative;
  top: 80px;
  z-index: -1;
}
#calsPerMinute,
#speed {
  
  border-radius: 50%;
  box-shadow: 0 5px 14px black;
  display: block;
  height: 800px;
  width: 800px;
  position: relative;
}

.flex-container {
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item {
  padding: 10px;
  justify-content: center;
  display: flex;
  position: relative;  
  flex-direction: column;
  font-weight:bolder;
}

.flex-item-left {
  flex-direction: column;
}

.flex-item-right {
  flex-direction: column;
}

#meters { width:1200px}

.extlabel {
  position: absolute;
  top: 300px;
  left: 0; 
  right:0;
  text-align: center; 
  z-index: 9000;
  padding: 5px;
  font-size: 8em;
  opacity: 0.7;
}

.inddescrip {
  font-size: 1.2em;
  position: absolute;
  z-index: 9000;
  top: 600px;
  left: 0; 
  right:0;
  text-align: center; 
}

.menu .material-icons
{
  font-size: 3em;
}